html, body{
    height: 100%;
}

body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: #385555;
}

.list-wrapper{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.list-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 16px;
}

.list-item__imagem img{
    height: 80px;
    border-radius: 50%;
}

.list-item__content{
    padding: 0 20px;
    flex-grow: 1;
}

.list-item__name{
    font-size: 24px;
    color: #385555;
}

.list-item__email{
    margin: 5px 0 0;
    color: #aaa;
}

.list-item:hover {
    background-color: #e8e8e8;
}

.list-item__action {
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
}

.list-item:hover .list-item__action {
    opacity: 0.3;
}